<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.xmj.mapper.SellerMapper">
	<insert id="insertShop" parameterType="com.yc.xmj.entity.Shop">
		<selectKey keyProperty="s_id" keyColumn="current_sid" resultType="int" order="BEFORE">
			select se_shop_sid.nextval current_sid from dual
		</selectKey>
		
		insert into shop(s_id,s_name,su_id,sbirthday,sstatus) values(#{s_id},#{s_name},#{su_id},#{sbirthday},#{sstatus})
	</insert>
	
	<update id="becomeSeller" parameterType="com.yc.xmj.entity.User">
		update users set u_root=1 where u_id=#{u_id}
	</update>
	
	<delete id="deleteShop" parameterType="com.yc.xmj.entity.Shop">
		delete shop where s_name=#{s_name}
	</delete>

	<update id="updateShop" parameterType="com.yc.xmj.entity.Shop">
		update shop set s_name=#{s_name},
		<!-- 过户准备 -->
		<if test="su_id!=null">su_id=#{su_id},</if>
		<!-- mapper不可以用 && -->
		<if test="sflag!=null">sflag=#{sflag},</if>
		<if test="majorBusiness!=null">majorBusiness=#{majorBusiness},</if>
		<if test="address!=null">address=#{address},</if>
		<if test="introduce!=null">introduce=#{introduce},</if>
		sstatus=#{sstatus}  where s_id=#{s_id}
	</update>
  
  <select id="selectShopByUid" parameterType="com.yc.xmj.entity.User" resultType="com.yc.xmj.entity.Shop">
  	  select s_id,s_name,su_id,sflag,majorBusiness,address,introduce,sbirthday,
		sstatus from shop where su_id=#{u_id}
  </select>
  
  <select id="selectShopBySid" parameterType="com.yc.xmj.entity.Shop" resultType="com.yc.xmj.entity.Shop">
  	  select s_id,s_name,su_id,sflag,majorBusiness,address,introduce,sbirthday,
		sstatus from shop where s_id=#{s_id}
  </select>
  
</mapper>