<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.xmj.mapper.UserMapper">
		
	<select id="getUser" parameterType="com.yc.xmj.entity.User" resultType="int">
	    select u_id from users where u_name=#{u_name} and  u_password = #{u_password}
	</select>
	<insert id="register" parameterType="com.yc.xmj.entity.User">
 		insert into users(u_id,u_name,u_password,u_phone,u_root,realNameAuthentication,payAuthentication)
 		 values(users_seq.nextval,#{u_name},#{u_password},#{u_phone},0,0,0)
 	</insert>
 	
</mapper>