<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.xmj.mapper.UserMapper">
	<select id="getAdmin" parameterType="Admin" resultType="Admin">
	    select * from admin where a_name=#{aname} and  a_password = #{apassword}
	</select>
	<select id="getUser" parameterType="com.yc.xmj.entity.User" resultType="int">
	    select u_id from users where u_name=#{u_name} and  u_password = #{u_password}
	</select>
	
	<insert id="register" parameterType="com.yc.xmj.entity.User">
 		insert into users values(users_seq.nextval,#{u_name},#{u_password},null,null,#{u_phone},null,0,null,null) 
 	</insert>
 	
</mapper>