<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.xmj.mapper.UserMapper">
	<select id="getAdmin" parameterType="Admin" resultType="Admin">
	    select * from admin where a_name=#{aname} and  a_password = #{apassword}
	</select>
</mapper>